* {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: rgb(184, 184, 184);
}

p {
    text-transform: capitalize;
    text-align: center;
}

.navigation > * {
    display: flex;
    flex-flow: row wrap;
    background: tomato;
    width: 100%;
}

.navigation li{
    margin: 10px;
}

.navigation ul{
    list-style: none;
    justify-content: space-around;
}

.navigation a{
    text-decoration: none;
}