* {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: rgb(184, 184, 184);
}

p {
    text-transform: capitalize;
    text-align: center;
}

.navigation > * {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    background: tomato;
}

.navigation a{
    text-decoration: none;
    display: block;
    color: white;
    background: tomato;
}

.navigation a:hover {
    color: black;
}

.navigation li{
    margin: 10px;
}

.navigation ul{
    list-style: none;
    justify-content: space-around;
}

.btn{
    border-radius: 15%;
    justify-content: center;
}

.btn a:hover{
    color: black;
}

