* {
    padding: 0;
    margin: 0;
}

main {
    background-color: #f5f6f8;
    padding: 25px;
}

/* runner styling */
#runner_game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
   
}

#runner {
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    left: 50px;
    
}

#obstacle {
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 130px;
    left: 480px;
}


/* Game Options */
#options{
    width: 500px;
    margin: auto;
    background-color: tomato;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}




/* score styling */
#score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

#score p {
    color: brown; 
    text-align: center;
}


